#[user]
#	name = Patrick Hulin
#	email = patrick.hulin@gmail.com
[log]
	decorate = short
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
	diff = auto
[push]
	default = simple
