[submodule "spf13-vim"]
	path = spf13-vim
	url = https://github.com/spf13/spf13-vim.git
[submodule "Menlo-for-Powerline"]
	path = Menlo-for-Powerline
	url = https://github.com/abertsch/Menlo-for-Powerline
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline
